@(run: Run)

@import helper._

@main("Performance reporter") {
  <script src="@routes.Assets.at("javascripts/highstock.js")" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        new Highcharts.StockChart({
            chart: {
                renderTo: 'container',
            },
            title: {
                text: 'Run'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: 'time'
                }
            },
            scrollbar : {
                enabled : false
            },
            navigator : {
				        enabled : false
			      },
            rangeSelector: {
                enabled: false,
                buttons: [{
                    type: 'all',
                    text: 'all'
                }],
                inputEnabled: false
            },

            series: [{
                type: 'area',
                name: 'request time',
                type : 'areaspline',
                fillColor : {
					          linearGradient : {
						            x1: 0,
						            y1: 0,
						            x2: 0,
						            y2: 1
					          },
					          stops : [[0, Highcharts.getOptions().colors[0]], [1, 'rgba(0,0,0,0)']]
				        },
                data: [[Date.UTC(2010, 0, 1), 1],
                       [Date.UTC(2010, 1, 1), 0],
                       [Date.UTC(2010, 2, 1), 4],
                       [Date.UTC(2010, 3, 1), 1],
                       [Date.UTC(2010, 4, 1), 0],
                       [Date.UTC(2010, 5, 1), 4],
                       [Date.UTC(2010, 6, 1), 1],
                       [Date.UTC(2010, 7, 1), 0],
                       [Date.UTC(2010, 8, 1), 4],
                       [Date.UTC(2010, 9, 1), 1],
                       [Date.UTC(2010, 10, 1), 0],
                       [Date.UTC(2010, 11, 1), 4]]
            }]
        });
  });
  </script>
  <h1>@run.label</h1>

  <div id="container" style="width: 100%; height: 400px"></div>
}
